/* 
    ROOT
 */

:root {
  /* Sizing */
  --header-bar-height: 3.5rem;

  /* Colors */
  --brand-color-main: hsl(269, 100%, 50%);
  --brand-color-accent: hsl(62, 100%, 50%);
}

/* Theme colors */
:root,
:root[data-theme="dark"] {
  --background-color: hsl(0, 0%, 10%);
  --background-color-2: hsl(0, 0%, 11%);
  --accent-color: hsl(0, 0%, 25%);
  --accent-color-2: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 100%);
  --text-color-2: hsl(0, 0%, 70%);
  --shadow-color: var(--brand-color-main);
}


/* 
    Default overrides
 */

/* html {
  font-size: 24px;
} */

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-color-2);
  color: var(--text-color);
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:focus,
a:active {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--text-color-2);
}

img {
  max-width: 100%;
}


/* 
    Misc
 */

header {
  width: 100%;
  height: var(--header-bar-height);
  background: var(--brand-color-main);

  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 1rem;
}

nav {
  display: flex;
  gap: 1.5rem;
}

main {
  margin: 1rem;
  margin-top: var(--header-bar-height);
  background-color: var(--background-color);
  overflow: auto;
}


/* tablet and laptop */
@media only screen and (min-width: 40rem) {}

/* desktop */
@media only screen and (min-width: 72rem) {}

/* 640px and 1152px */